@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

@layer base {
	li {
		@apply px-4;
		@apply cursor-pointer;
	}
}

.content-div {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 250px;
}

.backgroundImage:hover {
	background-image: linear-gradient(
		to right,
		rgba(107, 107, 107, 0.322),
		hsla(0, 0%, 41%, 0.24)
	) !important;
	opacity: 0.5;
}

/* custom scroll bar */
::-webkit-scrollbar {
	width: 0.4rem;
	background-color: #0f172a;
	opacity: 0.1;
	scroll-behavior: smooth;
}

::-webkit-scrollbar-thumb {
	background-color: hsla(0, 0%, 55%, 0.205);
	border-radius: 8px;
	opacity: 0.1;
}

::-webkit-scrollbar-thumb:hover {
	background-color: hsla(0, 0%, 55%, 0.5);
}
